.hero { 
    color: #F2E3D5;
    position: relative;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)), url(/images/Lamp.png);
    background-size: cover;
    overflow: hidden;
}

.hero-image {
    display: none;
}

.hero-text {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}


.socials {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5rem;
}

.socials img {
    height: 3rem;
    width: 3rem;
    margin: 0 .5rem;
}

@media (min-width: 768px) {
    .hero {
        height: 100vh;
        width: 100%;
        background-image: none;
        flex-direction: row;
        width: 100%;
    }

    .hero-image {
        display: flex;
        max-width: 50%;
        justify-content: right;
        flex-shrink: 3;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        min-width: 50%;
        flex-shrink: 3;
        color: #DFAB5E;
        max-width: 50%;
    }

    .socials img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0 0.5rem;
    }
}

@media (orientation: portrait) {
    .hero-image {
        display: none;
    }

    .hero-text {
        font-size: 2rem;
        color: #F2E3D5;
    }

    .hero { 
    position: relative;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)), url(/images/Lamp.png);
    background-size: cover;
    overflow: hidden;
}
    
}

