.nav-bar {
   display: flex;
   justify-content: space-between;
   background-color: #021900;
   color: #DFAB5E;
   height: 5rem;
   align-items: center;
   position: fixed;
   width: 100%;
   z-index: 1000;
}

.nav-bar img {
    height: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
}

.nav-logo-container {
    display: inline-flex;
    align-items: center;
}

h1 {
    margin: 1rem ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

/* off screen menu for mobile */

.ham-menu {
    height: 50px;
    width: 50px;
    margin: 1rem;
    position: relative;
} 

.ham-menu span {
    height: 5px;
    width: 35px;
    background-color: #DFAB5E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}

.nav-links {
    background-color: #072614;
    height: 100vh;
    width: 100%; 
    max-width: 450px;
    position: fixed;
    top: 5rem;
    right: -100%;
    text-decoration: none;
}

.nav-links li {
    margin: 2rem 0;
    
}

.nav-links.active {
    right: 0;
    text-align: center;
    transition: right 0.3s ease-in;
    font-size: 2.5rem;
}

.ham-menu.active span:nth-child(1) {
    transform: translate( -50%, -50%) rotate(45deg);
    top: 50%;
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    transform: translate( -50%, -50%) rotate(-45deg);
    top: 50%;
}

.nav-links a {
    text-decoration: none;
    color: #DFAB5E;
}

.nav-links a:hover {
    color: #732514;
}